<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>header}}
    {{!-- <h1>Weather {{title}}</h1> --}}
        <p>{{errorMessage}}</p>
    {{>footer}}

</body>

</html>